.header {
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: var(--white);
    display: flex;
    justify-content: center;

    transition: transform 0.2s ease;
}

.header__container {
    width: var(--containerWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    --logoColor: var(--black);
}

.header__links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
    font-size: 16px;
}

.header__link {
    display: flex;
    align-items: center;
}

.header__link-big {
    height: 50px;
    padding: 0 30px;

    justify-content: space-between;
    gap: 8px;

    border-radius: 6px;
    background-color: var(--accent);
    color: var(--white);
}

.header__link-big:hover {
    background-color: var(--accentDark);
}

.header__links-mobile {
    width: 100%;
    display: none;
    gap: 0px;
    justify-content: space-between;
}

.header__link-mobile .header__link {
    width: 160px;
}

@media (max-width: 850px) {
    .header-scrolled {
        transform: translateY(-40px);
    }
    .header__container {
        padding-bottom: 10px;

        flex-wrap: wrap;
        align-content: space-between;
    }

    .header__navigation .header__links {
        height: 50px;
    }

    .header__link {
        font-size: 14px;
    }

    .header__links-mobile {
        display: flex;
    }

    .header__linkWrapper-desktop {
        display: none;
    }
    
    .header__link-big {
        width: 160px;
        height: 40px;
        padding: 0;

        justify-content: center;
        gap: 7px;
    }
    .header__link-big span {
        margin-top: 1px;
    }

    .header__telegramIcon {
        width: 12px;
        height: auto;
    }

    .header__downloadIcon {
        margin-bottom: 1px;
    }

}