.profile {
    display: flex;
}

.profile__content {
    display: flex;
    flex-direction: column;
}

.profile__photo {
    width: 90px;
    height: 90px;
    margin-right: 30px;
    border-radius: 50%;
}

.profile__title {
    margin-top: 1px;
    font-size: 35px;
    font-weight: 700;
}

.profile__position {
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 850px) {
    .profile {
        flex-direction: column;
    }

    .profile__photo {
        width: 200px;
        object-fit: cover;
        object-position: 0% 30%;
        height: 150px;
        border-radius: 6px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .profile__title {
        margin-top: 10px;
        font-size: 35px;
    }

    .profile__position {
        margin-top: 8px;
        font-size: 18px;
    }
}